<div class="app-login">
  <div class="app-login-box col-12 col-md-4">
    <div class="row " style="width: 100%;">
      <div class="app-login-panel-left col-md-5">
        <div class="app-login-logo"></div>
        <div class="app-login-seja-bem-vindo">Seja bem vindo</div>
      </div>
      <div class="app-login-panel-right col-md-7">
        <div class="input-login">
          <app-input-field
            icon="fa-envelope"
            [login]="true"
            placeholder="email"
            type="email"
          ></app-input-field>
        </div>
        <div class="input-login">
          <app-input-field
            icon="fa-lock"
            [login]="true"
            placeholder="senha"
            type="password"
          ></app-input-field>
        </div>
        <div class="form-button-login">
          <app-button name="Entrar"></app-button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-abstract"></div>
</div>
