@import '../../assets/scss/variables';

$height-box-login-mobile: 200px;
$height-box-login-desktop: 400px;
$height-box-login-left-mobile: 150px;
$height-box-login-left-desktop: 400px;

.background-abstract {
  width: 100%;
  background: url(../../assets/images/header-login-3.png) no-repeat;
  height: 280px;
  position: absolute;
  background-size: contain;
  top: -10px;
}
.app-login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $cor-principal;

  background: url('../../assets/images/17751\ cópia.jpg') center center no-repeat;
  background-size: cover;
}
.app-login-box {
  min-height: $height-box-login-mobile;
}

.app-login-panel-left {
  // background-color: $cor-principal;
  color: #2791d6;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: $height-box-login-left-mobile;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-login-panel-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: $height-box-login-mobile;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.app-login-logo {
  font-size: 30px;
  font-weight: bold;
}

.input-login {
  margin-bottom: 20px;
  ::ng-deep .form-control {
    background-color: transparent;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .app-login {
  }
  .app-login-box {
    box-shadow: -1px -1px 29px -5px rgba(0, 0, 0, 0.43);
  }
  .app-login-panel-right {
    background: #fff;
  }
}
