@import "../../assets/scss/variables";

$height-box-login-mobile: 200px;
$height-box-login-desktop: 400px;
$height-box-login-left-mobile: 213px;
$height-box-login-left-desktop: 400px;

.app-login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  background: $cor-secundaria;
}
.app-login-box {
  min-height: $height-box-login-mobile;
}

.app-login-panel-left {
  margin-top: -40px;
  margin-bottom: 30px;
  // background-color: $cor-principal;
  color: #2791d6;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: $height-box-login-left-mobile;
  display: flex;

  align-items: center;
  flex-direction: column;
  .app-login-seja-bem-vindo {
    color: #fff;
    font-weight: bold;
    padding: 20px;
  }
}

.app-login-panel-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: $height-box-login-mobile;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.app-login-logo {
  background: url("../../assets/images/logo-bip-code.png") no-repeat;
  width: 140px;
  height: 151px;
  background-size: contain;
}

.input-login {
  margin-bottom: 10px;
  ::ng-deep .form-control {
    background-color: transparent;
    color: #fff;
  }
}

.form-button-login {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .app-login {
  }
  .app-login-box {
    box-shadow: -1px -1px 29px -5px rgba(0, 0, 0, 0.43);
  }
  .app-login-panel-right {
    background: #fff;
  }
}
