<div class="box-dashboard">
  <div class="col-12 col-md-4">
    <app-box-campanha-ad
      [bipsConquistados]="relatorio?.total"
      [nome]="nome?.title"
      [imgProfile]="
        token.idPartner === 1
          ? '../../assets/images/profile-coca-cola.png'
          : '../../../assets/images/profile-pizza-hut.png'
      "
      [bgCliente]="
        token.idPartner === 1
          ? '../../assets/campanha/coca-profile.jpg'
          : '../../../assets/campanha/pizzahut.jpg'
      "
    ></app-box-campanha-ad>

    <div class="box-campanha">
      <h2>
        {{ relatorio?.campaign }}
      </h2>
      <div class="box-grafico">
        <app-grafico-cidade
          [dadosGrafico]="(relatorio?.graphics)[0]"
        ></app-grafico-cidade>
      </div>
      <div class="box-grafico">
        <app-grafico-hora
          [dadosGrafico]="(relatorio?.graphics)[1]"
        ></app-grafico-hora>
      </div>
    </div>
  </div>
</div>
